<!doctype html>
<title>{% block title %}Py3fus{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Py3fus</h1>
  <ul>
      <li><a href="https://www.google.de" target="_blank">Google</a>
      <li><a href="https://bing.de" target="_blank">Bing</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>